.App {
  text-align: left;
}

.babyNames {
  width:70%;
  margin:auto;
  border: 2px solid blue;
  border-radius: 0.5rem;
  text-align: center;
  padding: 20px;
}

p {
  display: inline-block;
  text-align: center; 
  margin: 0.5rem;
  width: 5rem;
  /* position: absolute; */
  padding: 0.5rem;
  border-radius: 0.3rem; 
}

.input {
  /* margin: 2rem; */
  text-align: center;
  width:15rem;
  height: 3rem;
  padding-top: 0.5rem;
  border-radius: 0.4rem ;
}

.babyBoys {
  background-color: rgba(98, 105, 3, 0.548);
}

.babyGirls {
  background-color: rgba(121, 62, 121, 0.904);
}

.neutral {
  background-color: rgb(102, 124, 114);
}

.diamond {
  text-align: auto;
  width: 0;
  height: 0;
  border: 50px solid transparent;
  border-bottom-color: red;
  position: relative;
  top: -50px;
}
.diamond:after {
  content: '';
  position: absolute;
  left: -50px;
  top: 50px;
  width: 0;
  height: 0;
  border: 50px solid transparent;
  border-top-color: red;
}

.favorite {
  border-bottom: 10px thin red;
}

.searchBar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.gender{
/* width: 4rem; */
padding-top: 0.5rem;
}

button {
  width:5rem;
  height: 3rem;
  border-radius: 0.4rem ;
  margin: 0rem 1.0rem 1.0rem 0rem;
}

.active {
  border-bottom: 0.4rem solid rgb(228, 20, 20);
  border-radius: 0.4rem;
}

.classIcon {
  width: 4.0rem;
  height: 2.0rem;
  /* color: rgb(6, 13, 20); */
}